{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Short URL - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="row">
<div class="col-md-6">
    <h3>
        This is a private short url service, log in and memorize your own urls easier.
    </h3>
    <h3>
         Hope you Enjoy it.
    </h3>

</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>

</div>
{% endblock %}

