<!-- templates/macros.html -->
{% macro custom_form(form) %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {% if field.type != 'SubmitField' %}
                        {{ field.label(class="form-label") }}
                    {% endif %}
                    {% if field.type == 'BooleanField' %}
                        {{ field(class="form-check-input") }}
                        {{ field.label(class="form-check-label") }}
                    {% elif field.type == 'RadioField' %}
                        <div class="form-check">
                            {% for subfield in field %}
                                <label class="form-check-label">
                                    {{ subfield(class="form-check-input") }} {{ subfield.label.text }}
                                </label>
                            {% endfor %}
                        </div>
                    {% elif field.type == 'SelectField' %}
                        {{ field(class="form-select") }}
                    {% elif field.type == 'SubmitField' %}
                        <button type="submit" class="btn btn-primary">{{ field.label.text }}</button>
                    {% else %}
                        {{ field(class="form-control") }}
                    {% endif %}
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}